USE [DB_AHSECO]
GO


CREATE OR ALTER PROCEDURE [dbo].[USP_CONSULTA_EMPLEADOS]
/*=================================================================================================
	NOMBRE:					FECHA:		DESCRIPCIÓN:
	José A. Peralta			28.08.24	Consulta de empleados de la empresa.
	Diego A. Bazalar		17.11.24	Se añade un LEFT JOIN con la tabla TBM_DESPACHO_DIST, y se añade el campo EMPRESA.
	EXEC USP_CONSULTA_EMPLEADOS 0,NULL,NULL,NULL,0,NULL,NULL,NULL,2,NULL,NULL
  =================================================================================================*/
  @ID_EMPLEADO INT,
  @NOMBRES VARCHAR(50),
  @APELLIDOPATERNO VARCHAR(50),
  @APELLIDOMATERNO VARCHAR(50),
  @IDCARGO INT,
  @TIPODOCUMENTO VARCHAR(9),
  @TIPOEMPLEADO VARCHAR(1)='',
  @NUMERODOCUMENTO VARCHAR(12),
  @ESTADO INT,
  @FECINI VARCHAR(8),
  @FECFIN VARCHAR(8)
  AS
  BEGIN

  DECLARE @Sql VARCHAR(MAX)

  SET @Sql='SELECT A.ID_EMPLEADO,
						ISNULL(A.NOMBRES,'''') NOMBRES,
						ISNULL(A.APELLIDOPATERNO,'''') APELLIDOPATERNO,
						ISNULL(A.APELLIDOMATERNO,'''') APELLIDOMATERNO,
						ISNULL(A.NOMBRES,'''')+'' ''+ISNULL(A.APELLIDOPATERNO,'''')+'' ''+ISNULL(A.APELLIDOMATERNO,'''') AS NOMBRECOMPLETOEMPLEADO,
						A.ID_CARGO,
						A.ID_AREA ID_AREA,
						ISNULL(AR.NOMBREAREA,'''') NOMBREAREA,
						ISNULL(B.NOMBRECARGO,'''') NOMBRECARGO,
						ISNULL(CONVERT(varchar,A.FECHANACIMIENTO,103) ,'''') FECHANACIMIENTO,
						A.LUGARLABORAL,
						ISNULL(UBI.NOMDEPARTAMENTO,'''') DEPLUGARLABORAL,
						ISNULL(UBI.NOMPROVINCIA,'''') PROVLUGARLABORAL,
						ISNULL(UBI.NOMDISTRITO,'''') DISLUGARLABORAL,
						ISNULL(A.TELEFONO,'''') TELEFONO,
						A.EMAIL,
						ISNULL(A.DIRECCION ,'''') DIRECCION,
						A.SEXO,
						A.TIPO_DOCUMENTO,
						DOC.DESCRIPCION NOM_TIPO_DOCUMENTO,
						ISNULL(A.NUMDOCUMENTO,'''') NUMDOCUMENTO,
						A.CODEMPRESA,
						ISNULL(EMP.VALOR1,DESPACHO.EMPRESA) NOMEMPRESA,
						ISNULL(A.COD_JEFE,0) COD_JEFE,
						RTRIM(ISNULL(J.NOMBRES,''''))+'' ''+RTRIM(ISNULL(J.APELLIDOPATERNO,''''))+'' ''+RTRIM(ISNULL(J.APELLIDOMATERNO,'''')) AS NOMJEFE,
						ISNULL(CONVERT(varchar,A.FECHA_INGRESO,103) ,'''') FECHA_INGRESO,
						A.TIPO,
						CASE WHEN A.TIPO=''I'' THEN ''Interno'' ELSE ''Externo'' END DESTIPO,
						A.ESTADO,
						CASE WHEN A.ESTADO=1 THEN ''Activo'' ELSE ''Inactivo'' END NOMESTADO,
						A.USR_REG,
						ISNULL(CONVERT(varchar,A.FEC_REG,103) +'' ''+CONVERT(varchar,A.FEC_REG,8),'''') FEC_REG,
						ISNULL(A.USR_MOD,'''') USR_MOD,
						ISNULL(CONVERT(varchar,A.FEC_MOD,103) +'' ''+CONVERT(varchar,A.FEC_MOD,8),'''') FEC_MOD
						FROM TBM_EMPLEADOS A WITH(NOLOCK)
						LEFT JOIN TBM_CARGOS B WITH(NOLOCK) ON A.ID_CARGO=B.ID_CARGO
						LEFT JOIN TBD_DATOS_GENERALES DOC WITH(NOLOCK) ON DOC.DOMINIO=''GENTDOC'' AND A.TIPO_DOCUMENTO=DOC.PARAMETRO
						LEFT JOIN TBM_UBIGEO UBI WITH(NOLOCK) ON A.LUGARLABORAL=UBI.CODUBIGEO
						LEFT JOIN TBD_DATOS_GENERALES EMP WITH(NOLOCK) ON EMP.DOMINIO=''RAZSOCIAL'' AND A.CODEMPRESA=EMP.COD_VALOR1
						LEFT JOIN TBM_AREAS AR ON A.ID_AREA=AR.ID_AREA
						LEFT JOIN TBM_EMPLEADOS J WITH(NOLOCK) ON ISNULL(A.COD_JEFE,0)=J.ID_EMPLEADO
						LEFT JOIN (SELECT COD_TECNICO, EMPRESA FROM [dbo].[TBD_DESPACHO_DIST] GROUP BY COD_TECNICO, EMPRESA) DESPACHO ON A.ID_EMPLEADO = DESPACHO.COD_TECNICO
						WHERE  1= 1 '
	IF(LEN(@FECINI) > 0 AND LEN(@FECFIN) > 0 )
	BEGIN
				SET @Sql = @Sql +'AND CONVERT(VARCHAR(8),A.FEC_REG,112) BETWEEN '''+@FECINI+''' AND '''+@FECFIN+''' '
	END
	IF (@ID_EMPLEADO > 0)
	BEGIN
		SET @Sql = @Sql +'AND A.ID_EMPLEADO = ' + CAST(@ID_EMPLEADO AS VARCHAR) +' '
	END 
	IF(LEN(@NOMBRES)>0)
	BEGIN
		SET @Sql = @Sql +'AND A.NOMBRES LIKE ''%' + ISNULL(@NOMBRES,'') +'%'' '
	END
	IF(LEN(@APELLIDOPATERNO)>0)
	BEGIN
		SET @Sql = @Sql +'AND A.APELLIDOPATERNO LIKE ''%' + ISNULL(@APELLIDOPATERNO,'') +'%'' '
	END
	IF(LEN(@APELLIDOMATERNO)>0)
	BEGIN
		SET @Sql = @Sql +'AND A.APELLIDOMATERNO LIKE ''%' + ISNULL(@APELLIDOMATERNO,'') +'%'' '
	END
	IF (@IDCARGO > 0)
	BEGIN
		SET @Sql = @Sql +'AND A.ID_CARGO = ' + CAST(@IDCARGO AS VARCHAR) +' '
	END 
	IF(LEN(@TIPODOCUMENTO)>0)
	BEGIN
		SET @Sql = @Sql +'AND ISNULL(A.TIPO_DOCUMENTO,'''') =''' + ISNULL(@TIPODOCUMENTO,'') +''' '
	END
	IF(@TIPOEMPLEADO!= '')
	BEGIN
		SET @Sql = @Sql +'AND A.TIPO =''' + CAST(@TIPOEMPLEADO AS CHAR(1)) +''' '
	END
	IF(LEN(@NUMERODOCUMENTO)>0)
	BEGIN
		SET @Sql = @Sql +'AND ISNULL(A.NUMDOCUMENTO,'''') =''' + ISNULL(@NUMERODOCUMENTO,'') +''' '
	END
	IF (@ESTADO < 2)
	BEGIN
		SET @Sql = @Sql +'AND A.ESTADO = ' + CAST(@ESTADO AS VARCHAR) +' '
	END 

	--PRINT @Sql
	EXEC(@Sql)

  END