USE [DB_AHSECO]
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_SEL_SOLICITUDES] 
(
/*=======================================================================================================
	Nombre:				Fecha:			Descripcion:
	Diego Bazalar		25.09.24		Realiza el select de la tabla TBM_SOLICITUDVENTA con parametros de búsqueda.
	Diego Bazalar		23.10.24		Se añade la búsqueda por tipo de solicitud CODTIPOSOL, y por ESTADO. 
	exec USP_SEL_SOLICITUDES @isIdCliente=0,@isIdSolicitud=0,@isEstado=N'PRVT,VTPG',@isTipoSol='TSOL05',@IsTipoIngreso='3',@IsPerfil=N'0'
=======================================================================================================*/
	@isIdCliente BIGINT,
	@isIdSolicitud BIGINT,
	@isEstado VARCHAR(200) = '',
	@isTipoSol VARCHAR(6) = '',
	@IsTipoIngreso CHAR(1) ='1',
	@IsPerfil VARCHAR(3) = ''
)
AS
BEGIN
SET NOCOUNT ON
	DECLARE @sql NVARCHAR(MAX),@NUM_COT_ELI INT,@COD_FLUJO CHAR(1)

	SELECT @NUM_COT_ELI=COUNT(1) FROM TBM_COTIZACIONVENTA WITH(NOLOCK) WHERE ESTADO='I' AND ID_SOLICITUD = @isIdSolicitud

	DECLARE @TABLA_ESTADOS TABLE(ID INT IDENTITY(1,1),ESTADO VARCHAR(5))
	DECLARE @CADENA_ESTADOS VARCHAR(200),@I INT,@TOTAL INT, @PERFILCOORD INT


	SELECT 
		@PERFILCOORD = ID --Se determina el perfil del coordinador de servicio tecnico.
	FROM [dbo].[TBM_SEGURIDAD_PERFIL] WITH(NOLOCK) 
	WHERE UPPER(DESCRIPCION) = UPPER('Coordinador de Servicio Técnico')

	SET @isEstado = REPLACE(@isEstado,' ','')

	IF(LEN(@isEstado) > 0)
	BEGIN
		IF(CHARINDEX(',', @isEstado)>0)
		BEGIN
				INSERT INTO @TABLA_ESTADOS
				 SELECT * FROM STRING_SPLIT(TRIM(@isEstado), ',');
			
		END
		ELSE
		BEGIN
				INSERT INTO @TABLA_ESTADOS VALUES (TRIM(@isEstado));
		END

		SELECT @TOTAL=COUNT(1),@I=1,@CADENA_ESTADOS='' FROM @TABLA_ESTADOS;


		WHILE(@I <=@TOTAL)
		BEGIN

			SET @CADENA_ESTADOS = @CADENA_ESTADOS+''''+ (SELECT ESTADO FROM @TABLA_ESTADOS WHERE ID=@I )+''''
			SET @CADENA_ESTADOS = @CADENA_ESTADOS +','
			SET @I =@I+1

		END
		 SELECT @CADENA_ESTADOS =SUBSTRING(@CADENA_ESTADOS,1,LEN(@CADENA_ESTADOS)-1)

	END

	IF(LEN(@IsPerfil)>0)
	BEGIN
		SELECT @COD_FLUJO = COD_VALOR1  FROM TBD_DATOS_GENERALES 
						WHERE  DOMINIO='FLOWSOL' AND VALOR2 LIKE '%;'+RTRIM(@IsPerfil)+';%';

		SET @COD_FLUJO = ISNULL(@COD_FLUJO,'');

	END


	SET @sql = '
				SELECT
					SOL.ID_SOLICITUD					AS ID_SOLICITUD
					,SOL.ID_WORKFLOW					AS ID_WORKFLOW
					,FLUJO.VALOR1						AS FLUJO
					,SOL.ID_FLUJO						AS CODFLUJO
					,TIPO.VALOR1						AS TIPO
					,SOL.TIPO_SOL						AS CODTIPOSOL
					,CONVERT(VARCHAR(10),FECHA_SOL,103)	AS FECHA_SOL
					,SOL.ESTADO							AS ESTADO
					,EST.NOM_ESTADO						AS NOM_ESTADO
					,EST.ABREV_ESTADO					AS ABREV_ESTADO
					,COD_MEDIOCONT						AS COD_MEDIOCONT
					,IDCLIENTE							AS IDCLIENTE
					,RUC								AS RUC
					,RAZONSOCIAL						AS RAZONSOCIAL
					,ASESORVENTA						AS ASESORVENTA
					,SOL.COD_EMPRESA					AS COD_EMPRESA
					,ISNULL(SOL.TIPOPROCESO,'''') AS TIPOPROCESO
					,ISNULL(SOL.NROPROCESO,'''') AS NROPROCESO
					,SOL.TIPOVENTA AS TIPOVENTA
					,ISNULL(SED.ID_SEDE,0) IDSEDE
					,ISNULL(SED.NOMSEDE,'''') NOMSEDE 
					,TV.VALOR1 AS NOMTIPOVENTA , ' +
					CAST(@NUM_COT_ELI AS VARCHAR) +' AS COTELIM, '+
					'RIGHT(''000000''+CAST(SOL.ID_SOLICITUD AS VARCHAR),6) AS SOL_FORMAT ' +
				'FROM [dbo].[TBM_SOLICITUDVENTA] AS SOL WITH(NOLOCK)'
	IF (@PERFILCOORD = @IsPerfil OR @IsTipoIngreso = '3') --Sí tiene perfil de coordinador de servicio tecnico
	BEGIN
		SET @sql = @sql + '
				INNER JOIN [dbo].[TBM_COTIZACIONVENTA] AS COTI WITH(NOLOCK) ON COTI.ID_SOLICITUD = SOL.ID_SOLICITUD
				INNER JOIN [dbo].[TBD_COTIZACIONVENTA] AS COTDET WITH(NOLOCK) ON COTDET.ID_COTIZACION = COTI.ID_COTIZACION
				INNER JOIN [dbo].[TBM_COTDET_DESPACHO] AS COTDESP WITH (NOLOCK) ON COTDESP.ID_COTDETALLE = COTDET.ID
				LEFT JOIN [dbo].[TBD_COTIZACIONCOSTOS] AS COSTOS WITH(NOLOCK) ON COSTOS.ID_COTDETALLE = COTDET.ID AND COSTOS.CODCOSTO = ''CXCD0001'' '
	END
	SET @sql = @sql + '
				LEFT JOIN (SELECT ID,NOM_ESTADO,ABREV_ESTADO,COD_ESTADO FROM TBM_PROCESOESTADOS WHERE ID_PROCESO = 1) EST ON SOL.ESTADO = EST.COD_ESTADO
				LEFT JOIN [dbo].[TBD_DATOS_GENERALES] AS TIPO ON TIPO.COD_VALOR1 = SOL.TIPO_SOL '
	IF (@IsTipoIngreso = '3')
	BEGIN 
		SET @sql = @sql + '
				LEFT JOIN [dbo].[TBM_INSTALACION] INSTALL ON INSTALL.ID_SOLICITUD = SOL.ID_SOLICITUD
				INNER JOIN [dbo].[TBM_COTDET_DESPACHO] DESPACHO ON DESPACHO.ID_COTDETALLE = COTDET.ID AND DESPACHO.INDINSTALACION= ''S'' 
				'
	END
	SET @sql = @sql + '
				LEFT JOIN (SELECT COD_VALOR1,VALOR1 FROM [dbo].[TBD_DATOS_GENERALES] WHERE DOMINIO = ''FLOWSOL'') AS FLUJO ON FLUJO.COD_VALOR1 = CAST(SOL.ID_FLUJO AS NVARCHAR)
				LEFT JOIN [dbo].[TBD_DATOS_GENERALES] TV ON TV.DOMINIO=''TIPOVENTA'' AND SOL.TIPOVENTA=TV.COD_VALOR1
				LEFT JOIN [dbo].[TBM_SEDES] SED ON SOL.IDSEDE=SED.ID_SEDE AND SED.ELIMINADO=0 
				WHERE 1 = 1
				'
	IF (@IsTipoIngreso = '3')
	BEGIN 
		SET @sql = @sql + '
				AND INSTALL.NUMREQ IS NULL '
	END

	IF (ISNULL(@isIdCliente,0) != 0)
	BEGIN
		SET @sql = @sql + ' AND IDCLIENTE = '+CAST(@isIdCliente AS VARCHAR(20))
	END
	IF (ISNULL(@isIdSolicitud,0) != 0)
	BEGIN
		SET @sql = @sql + ' AND SOL.ID_SOLICITUD = '+CAST(@isIdSolicitud AS VARCHAR(20))
	END
	IF (ISNULL(@isTipoSol,'') != '')
	BEGIN
		SET @sql = @sql + ' AND TRIM(SOL.TIPO_SOL) = '''+TRIM(@isTipoSol)+''' '
	END
	IF (ISNULL(@isEstado,'') != '')
	BEGIN
		SET @sql = @sql + ' AND TRIM(SOL.ESTADO) IN('+TRIM(@CADENA_ESTADOS)+') '
	END
	IF(LEN(@COD_FLUJO)> 0)
	BEGIN
		SET @sql = @sql + ' AND SOL.ID_FLUJO = '''+TRIM(@COD_FLUJO)+''' '
	END
	IF(@PERFILCOORD = @IsPerfil OR @IsTipoIngreso = '3')
	BEGIN
		SET @sql = @sql + ' AND (COTDESP.INDINSTALACION = ''S'' OR COTDESP.INDINFOVIDEO = ''S'' OR COTDESP.INDINFOMANUAL = ''S'' OR COTDESP.INDCAPACITACION = ''S'' OR COTDESP.INDMANTPREVENT = ''S'' OR COSTOS.ID IS NOT NULL) AND TRIM(SOL.TIPO_SOL) = ''TSOL05'' 
							GROUP BY SOL.ID_SOLICITUD					
								 ,SOL.ID_WORKFLOW					
								 ,FLUJO.VALOR1						
								 ,SOL.ID_FLUJO						
								 ,TIPO.VALOR1						
								 ,SOL.TIPO_SOL						
								 ,FECHA_SOL
								 ,SOL.ESTADO							
								 ,EST.NOM_ESTADO						
								 ,EST.ABREV_ESTADO					
								 ,COD_MEDIOCONT						
								 ,IDCLIENTE							
								 ,RUC								
								 ,RAZONSOCIAL						
								 ,ASESORVENTA						
								 ,SOL.COD_EMPRESA					
								 ,SOL.TIPOPROCESO
								 ,SOL.NROPROCESO
								 ,SOL.TIPOVENTA
								 ,SOL.ID_SOLICITUD
								 ,TV.VALOR1'
	END
	--print @sql
	EXEC sp_executesql @sql
SET NOCOUNT OFF
END