USE [DB_AHSECO]
GO

CREATE OR ALTER   PROCEDURE [dbo].[USP_MANT_PREV_MIGRA]
/*===============================================================================================
	NOMBRE:					FECHA:			DESCRIPCIÓN:
	Diego A. Bazalar		20.01.25		Se inserta en tabla de migración y mantenimientos preventivos
	EXEC USP_CREAR_COTIZACIONCLIENTE 7
  ===============================================================================================*/
(	
	@IsID_EQUIPO		BIGINT
	,@IsSERIE			VARCHAR(50)
	,@IsDESC_EQUIPO		VARCHAR(200)
	,@IsMARCA			VARCHAR(150)
	,@IsMODELO			VARCHAR(150)
	,@IsGAR_ANUAL		INT
	,@IsGAR_MESES		INT
	,@IsFIN_GARANTIA	VARCHAR(10)
	,@IsPREV_ANUAL		INT
	,@IsCODPERIODO		VARCHAR(10)
	,@IsTOTAL_PREV		INT
	,@IsEJEC_PREV		INT
	,@IsPEND_PREV		INT
	,@IsOBS				VARCHAR(500)
	,@IsFECHA_INSTAL	VARCHAR(10)
	,@IsNOMEMPRESA		VARCHAR(200)
	,@IsPROCESO			VARCHAR(50)
	,@IsNOM_DESTINO		VARCHAR(40)
	,@IsESTADO_MANT		VARCHAR(20)
	,@IsESTADO_GAR		VARCHAR(30)
	,@IsRAZON_SOCIAL	VARCHAR(50)
)
AS
BEGIN
	IF OBJECT_ID('tempdb..#tmpParcial') IS NOT NULL 
		DROP TABLE #tmpParcial
	IF OBJECT_ID('tempdb..#tmpIdWorkFlows') IS NOT NULL 
		DROP TABLE #tmpIdWorkFlows

	DECLARE @ID_MANT BIGINT, @SUMA INT, @I INT, @isTipoProceso INT, @MSG VARCHAR(400), @COD INT, @ID_MIG BIGINT, @CodGarantia NVARCHAR(20), @PERFIL VARCHAR(100)

	CREATE TABLE #tmpIdWorkFlows(
		ID BIGINT IDENTITY (1,1)
		,ID_WORKFLOW BIGINT
	)

	CREATE TABLE #tmpWorkFlows(
		ID BIGINT IDENTITY (1,1)
		,ID_PROCESO INT
		,AUDIT_REG_USR NVARCHAR(50)
		,AUDIT_REG_FEC DATETIME
	)
	CREATE TABLE #tmpPreventivos(
		ID BIGINT IDENTITY (1,1)
		,ID_MANT BIGINT
		,FECHAINSTALACION DATETIME NULL
		,FECHAMANTENIMIENTO DATETIME NULL
	)
	
	BEGIN TRY
		SELECT @PERFIL=ISNULL(C.DESCRIPCION,'') FROM TBM_SEGURIDAD_USUARIO A WITH(NOLOCK) 
		INNER JOIN TBM_SEGURIDAD_USUARIO_PERFIL B WITH(NOLOCK) ON A.ID=B.USUARIO_ID AND B.HABILITADO=1
		INNER JOIN TBM_SEGURIDAD_PERFIL C WITH(NOLOCK) ON B.PERFIL_ID=C.ID
		WHERE UPPER(A.USUARIO) =UPPER('admin') 


		IF (@IsGAR_MESES > 0)
		BEGIN
			SELECT @CodGarantia = PARAMETRO FROM TBD_DATOS_GENERALES WHERE DOMINIO = 'GARANTIAS' AND ESTADO = 1 AND HABILITADO = 1 AND COD_VALOR2 = @IsGAR_MESES
		END

	--Tenemos que realizar la inserción en la tabla maestra de migraciones
		IF NOT EXISTS( SELECT 1 FROM TBM_MIGRACION_PREV WHERE ISNULL(MIG_SERIE,'') = ISNULL(@IsSERIE,'') AND ISNULL(MIG_ID_EQUIPO,'') = ISNULL(@IsID_EQUIPO,''))
		BEGIN
			INSERT INTO TBM_MIGRACION_PREV(MIG_ID_EQUIPO,MIG_SERIE,MIG_DESC_EQUIPO,MIG_MARCA,MIG_MODELO,MIG_GAR_ANUAL,MIG_GAR_MESES, CODGARANTIA_NUEVO, MIG_FECHA_FIN_GAR,MIG_PREV_ANUAL,MIG_CODPERIODO,MIG_TOTAL_PREV,MIG_EJEC_PREV,MIG_PEND_PREV,MIG_OBS,MIG_FECHA_INSTAL,MIG_NOMEMPRESA,MIG_PROCESO,MIG_NOM_DESTINO,MIG_ESTADO_MANT,MIG_ESTADO_GAR,MIG_RAZON_SOCIAL,USR_REG,FEC_REG)
			VALUES (IIF(@IsID_EQUIPO = 0, NULL, @IsID_EQUIPO),IIF(@IsSERIE = '', NULL, @IsSERIE),@IsDESC_EQUIPO,@IsMARCA,@IsMODELO,@IsGAR_ANUAL,@IsGAR_MESES, @CodGarantia,IIF(@IsFIN_GARANTIA = '', NULL, @IsFIN_GARANTIA),@IsPREV_ANUAL,@IsCODPERIODO,@IsTOTAL_PREV,@IsEJEC_PREV,@IsPEND_PREV,@IsOBS,IIF(@IsFECHA_INSTAL = '', NULL, @IsFECHA_INSTAL),@IsNOMEMPRESA,@IsPROCESO,@IsNOM_DESTINO,@IsESTADO_MANT,@IsESTADO_GAR,@IsRAZON_SOCIAL,'ADMIN_MIG',GETDATE())
			
			SET @ID_MIG = @@IDENTITY

			INSERT INTO TBM_MANT_PREV(MIG_ID_EQUIPO, SERIE,FECHAINSTALACION,NOMEMPRESA,TIPOPROCESO,MIGRADO,USR_REG,FEC_REG) 
			VALUES(IIF(@IsID_EQUIPO = 0, NULL, @IsID_EQUIPO),IIF(@IsSERIE = '', NULL, @IsSERIE), IIF(@IsFECHA_INSTAL = '', NULL, @IsFECHA_INSTAL),@IsNOMEMPRESA,@IsPROCESO,'S','MIG_ADMIN',GETDATE())

			SET @ID_MANT = @@IDENTITY
		END



	--Realizar la lógica de inserción en la TBM_MANT_PREV
		 

		SET @isTipoProceso = 6
		
		IF EXISTS(SELECT 1 FROM TBM_MIGRACION_PREV WHERE ID = @ID_MIG AND MIG_TOTAL_PREV > 0 AND ISNULL(MIG_SERIE,'') != '' AND ISNULL(MIG_FECHA_INSTAL,'') != '')
		BEGIN
			SELECT @SUMA = @IsTOTAL_PREV --Determinamos el número de preventivos.
			/*Registramos en el WorkFlow y creamos tabla auxiliar donde registramos los Ids*/------------------------------------------------------------------------------
			SET @I = 0
			WHILE @I < @SUMA
			BEGIN
				INSERT INTO [dbo].[TBM_WORKFLOW](ID_PROCESO,AUDIT_REG_USR,AUDIT_REG_FEC)
				SELECT @isTipoProceso,'admin',GETDATE()
		
				INSERT INTO #tmpIdWorkFlows(ID_WORKFLOW)
				SELECT  IDENT_CURRENT('TBM_WORKFLOW')
		
				SET @I = @I + 1
			END
		
			INSERT INTO [dbo].[TBM_WORKFLOWLOG] (ID_WORKFLOW,COD_ESTADO,CARGO,AREA,AUDIT_REG_USR,AUDIT_REG_FEC)
			SELECT ID_WORKFLOW, 'PEND',@PERFIL,'', 'admin', GETDATE() FROM #tmpIdWorkFlows
	
			--Realizamos la inserción en la TBD_MANT_PREV
		
			SELECT
				ID_MANT
				,MIG.MIG_SERIE
				,MIG.MIG_FECHA_INSTAL
				,MIG.MIG_TOTAL_PREV
				,MIG.MIG_CODPERIODO
				,DATOS.VALOR1			AS TIPCICLO
				,DATOS.VALOR2			AS CANTIDAD
			INTO #tmpParcial
			FROM [dbo].TBM_MIGRACION_PREV MIG WITH(NOLOCK)
			LEFT JOIN [dbo].[TBM_MANT_PREV] MANT ON  MIG.MIG_SERIE = MANT.SERIE
			LEFT JOIN [dbo].[TBD_DATOS_GENERALES] AS DATOS WITH(NOLOCK) ON DATOS.DOMINIO = 'CICLOPREV' AND DATOS.PARAMETRO = MIG.MIG_CODPERIODO AND DATOS.ESTADO = '1'
			WHERE MANT.ID_MANT = @ID_MANT AND MIG.ID = @ID_MIG


			;WITH Numeros AS (
				SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS n
				FROM master.dbo.spt_values
			)
		
			INSERT INTO #tmpPreventivos(ID_MANT,FECHAINSTALACION,FECHAMANTENIMIENTO)
			SELECT 
				ID_MANT
				,MIG_FECHA_INSTAL
				,CASE 
					WHEN TIPCICLO='D' THEN DATEADD(DAY,(CANTIDAD * n.n),MIG_FECHA_INSTAL)
					WHEN TIPCICLO='M' THEN DATEADD(MONTH,(CANTIDAD * n.n),MIG_FECHA_INSTAL)
				END AS FECHAMANTENIMIENTO
			FROM #tmpParcial parcial
			CROSS JOIN Numeros n
			WHERE n.n <= parcial.MIG_TOTAL_PREV
		
			INSERT INTO [dbo].[TBD_MANT_PREV](ID_MANT,ID_WORKFLOW,FECHAMANTENIMIENTO,ESTADO,USR_REG,FEC_REG)
			SELECT
					t.ID_MANT
					,j.ID_WORKFLOW
					,t.FECHAMANTENIMIENTO
					,'PEND'
					,'MIG_ADMIN'
					,GETDATE()
			FROM #tmpPreventivos t
			INNER JOIN #tmpIdWorkFlows j ON t.ID = j.ID

			/*Cambiamos de estado a los mantenimientos ya ejecutados*/
			IF(@IsEJEC_PREV > 0)
			BEGIN
				;WITH CTE_1 AS (
					SELECT
						ROW_NUMBER() OVER( ORDER BY MANTDET.ID) AS CONTADOR
						,MANTDET.* 
					FROM [dbo].[TBD_MANT_PREV] MANTDET
					LEFT JOIN [dbo].[TBM_MANT_PREV] MANT ON MANTDET.ID_MANT = MANT.ID_MANT
					WHERE MANT.ID_MANT = @ID_MANT
				), CTE_2 AS (
					SELECT
					MANTDET.ID
					,MANTDET.ID_WORKFLOW
					FROM [dbo].[TBD_MANT_PREV] AS MANTDET WITH(NOLOCK)
					INNER JOIN CTE_1 AS CTE ON CTE.ID = MANTDET.ID 
					WHERE CTE.CONTADOR <= @IsEJEC_PREV
				)
				SELECT 
					ID 
					,ID_WORKFLOW
				INTO #tmpFinal
				FROM CTE_2

				UPDATE [TBD_MANT_PREV]
				SET ESTADO = 'COM'
				WHERE ID IN (SELECT ID FROM #tmpFinal)

				INSERT INTO [dbo].[TBM_WORKFLOWLOG] (ID_WORKFLOW,COD_ESTADO,CARGO,AREA,AUDIT_REG_USR,AUDIT_REG_FEC)
				SELECT ID_WORKFLOW, 'COM',@PERFIL,'', 'admin', GETDATE() FROM #tmpFinal

				--;WITH Numeros AS (
				--	SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS n
				--	FROM master.dbo.spt_values
				--)
				--UPDATE TBD_MANT_PREV
				--SET ESTADO = 'COM'
				--WHERE ID IN (
				--SELECT
				--	DISTINCT ID
				--FROM TBD_MANT_PREV
				--CROSS JOIN Numeros n
				--WHERE ID_MANT = @ID_MANT AND n.n <= @IsEJEC_PREV)				
			END
		END

		SET @COD = 1
		SET @MSG = 'USP ejecutado con éxito'
		SELECT @COD COD, @MSG MSG

	END TRY
	BEGIN CATCH
		SET @COD = 0
		SET @MSG = 'Error en el USP: Linea:'+CAST(ERROR_LINE() AS VARCHAR)+', Mensaje de error:' + CAST(ERROR_MESSAGE() AS VARCHAR(500))
		SELECT @COD COD, @MSG MSG
	END CATCH


--Realizar la lógica para la inserción en la TBD_MANT_PREV	
END