USE [DB_AHSECO]
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_MANT_ASIG_CLIENTE_ASESOR] 
/*=======================================================================================================
	Nombre:					 Fecha:			Descripción:
	José A. Peralta		16.02.25		Se agrega el campo sede en el mantenimiento.
	Diego A. Bazalar		 05.09.24		Realiza el registro de las asignaciones de Clientes vs Asesores actualización.
	EXEC [USP_MANT_ASIG_CLIENTE_ASESOR] 1,4,'admin',0
  =======================================================================================================*/
	--@isTipoProceso CHAR(1),
	@isId_cliente INT,
	@isId_Asesor INT = NULL,
	@isId_Sede INT = NULL,
	@isUsuarioRegistra NVARCHAR(100) = NULL,
	@Eliminar BIT
AS
BEGIN
DECLARE @ID_ASIG INT

;WITH CTE_1 AS (SELECT  --Determinar el último realizado al cliente
			ID_ASIG
			,ID_CLIENTE
			FROM [TBM_ASIG_CLIE_MANUAL]
			WHERE ID_CLIENTE = @isId_cliente and ID_SEDE=@isId_Sede)			
		SELECT 
		@ID_ASIG = MAX(ID_ASIG) 
		FROM CTE_1 
		GROUP BY ID_CLIENTE


	IF NOT EXISTS (SELECT 1 FROM [TBM_ASIG_CLIE_MANUAL] WHERE [ID_CLIENTE] = @isId_cliente) --REGISTRONUEVO
	BEGIN
		INSERT INTO [dbo].[TBM_ASIG_CLIE_MANUAL]
			   (ID_CLIENTE
				,ID_ASESOR
				,ID_SEDE
				,ELIMINADO
				,USR_REG
				,FEC_REG)
		 VALUES
			   (@isId_cliente
			   ,@isId_Asesor
			   ,@isId_Sede
			   ,0
			   ,@isUsuarioRegistra
			   ,GETDATE())
	END
	ELSE IF EXISTS(SELECT 1 FROM [TBM_ASIG_CLIE_MANUAL] WHERE [ID_CLIENTE] = @isId_cliente AND [ELIMINADO] = 1)
			BEGIN
				IF @Eliminar = 0
					INSERT INTO [dbo].[TBM_ASIG_CLIE_MANUAL]
						   ([ID_CLIENTE]
							,[ID_ASESOR]
							,[ID_SEDE]
							,[ELIMINADO]
							,[USR_REG]
							,[FEC_REG])
					 VALUES
						   (@isId_cliente
						   ,@isId_Asesor
						   ,@isId_Sede
						   ,0
						   ,@isUsuarioRegistra
						   ,GETDATE())
				IF @Eliminar = 1
					UPDATE [dbo].[TBM_ASIG_CLIE_MANUAL]
					SET
						[ELIMINADO]	  = 1,
						[USR_MOD]	  = @isUsuarioRegistra,
						[FEC_MOD]	  = GETDATE()
					WHERE ID_ASIG = @ID_ASIG
			END
	ELSE 
	BEGIN
		IF EXISTS(SELECT 1 FROM [TBM_ASIG_CLIE_MANUAL] WHERE [ELIMINADO] = 0)
			BEGIN
				IF @Eliminar = 1
					UPDATE [dbo].[TBM_ASIG_CLIE_MANUAL]
						SET
							[ELIMINADO]	  = 1,
							[USR_MOD]	  = @isUsuarioRegistra,
							[FEC_MOD]	  = GETDATE()
						WHERE [ID_CLIENTE] = @isId_cliente AND ID_ASIG = @ID_ASIG
				IF @Eliminar = 0
					INSERT INTO [dbo].[TBM_ASIG_CLIE_MANUAL]
						([ID_CLIENTE]
						,[ID_ASESOR]
						,[ID_SEDE]
						,[ELIMINADO]
						,[USR_REG]
						,[FEC_REG])
					VALUES
						(@isId_cliente
						,@isId_Asesor
						,@isId_Sede
						,0
						,@isUsuarioRegistra
						,GETDATE())
			END
	END
END