USE [DB_AHSECO]
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_FILTROS_EMPLEADOS]
/*=================================================================================================
	NOMBRE:					FECHA:		DESCRIPCIÓN:
	José A. Peralta		   18/09/2024	Extrae las selecciones para filtrar, insertar e 
										actualizar un empleado.
	EXEC USP_CONSULTA_EMPLEADOS 0,NULL,NULL,NULL,0,NULL,NULL,NULL,2,NULL,NULL
  =================================================================================================*/
AS
BEGIN

SET NOCOUNT ON;

	DECLARE @ID_CARGO INT
	--ComboBox EMPRESAS
	SELECT COD_VALOR1 COD_EMPRESA, VALOR1 NOM_EMPRESA 
	FROM TBD_DATOS_GENERALES 
	WHERE DOMINIO='RAZSOCIAL' AND ESTADO=1  AND HABILITADO=1
	ORDER BY NOM_EMPRESA;

	--ComboBox SEXO
	SELECT COD_VALOR1 COD_SEXO ,VALOR1 NOM_SEXO 
	FROM TBD_DATOS_GENERALES 
	WHERE DOMINIO='SEXEMPL' AND ESTADO=1 AND HABILITADO=1;

	--ComboBox Tipo Empleado
	SELECT COD_VALOR1 COD_TIPEMP, VALOR1  NOM_TIPEMP 
	FROM TBD_DATOS_GENERALES 
	WHERE DOMINIO='TIPEMPL' AND ESTADO=1 AND HABILITADO=1;

	--ComboBox Estados
	SELECT COD_VALOR1 COD_ESTADO,VALOR1 NOM_ESTADO 
	FROM TBD_DATOS_GENERALES 
	WHERE DOMINIO='ESTADOS' AND ESTADO=1 AND HABILITADO=1;

	--ComboBox TipoDocumento
	SELECT PARAMETRO COD_TIPDOC,DESCRIPCION NOM_TIPDOC 
	FROM TBD_DATOS_GENERALES 
	WHERE DOMINIO='GENTDOC' AND ESTADO=1 AND HABILITADO=1;
	
	--ComboBox Areas
	SELECT CAST(ID_AREA AS VARCHAR) ID_AREA,NOMBREAREA 
	FROM TBM_AREAS
	WHERE ESTADO=1 
	ORDER BY NOMBREAREA;

END
