USE [DB_AHSECO]
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_FILTROS_PRECIOS]
/*==========================================================================================
	Nombre:						Fecha:				Descripción:
	Gabriel Marquez sullca	 07.10.2024			Consulta de precios.
	EXEC USP_FILTROS_PRECIOS
  ==========================================================================================*/
AS
BEGIN
    SET NOCOUNT ON;

	IF OBJECT_ID('tempdb..#TBM_MARCA') IS NOT NULL
		DROP TABLE #TBM_MARCA

	IF OBJECT_ID('tempdb..#TBM_FAMILIA') IS NOT NULL
		DROP TABLE #TBM_FAMILIA

	IF OBJECT_ID('tempdb..#TBM_MEDIDA') IS NOT NULL
		DROP TABLE #TBM_MEDIDA

	IF OBJECT_ID('tempdb..#TBM_ALMACEN') IS NOT NULL
		DROP TABLE #TBM_ALMACEN

    -- Crear tablas temporales
    CREATE TABLE #TBM_MARCA (
        CODTABLA VARCHAR(10),
        CODMARCA VARCHAR(80),
        NOMBREMARCA VARCHAR(80)
    );

    CREATE NONCLUSTERED INDEX IDX_MARCA ON #TBM_MARCA(CODMARCA);

    CREATE TABLE #TBM_FAMILIA (
        CODTABLA VARCHAR(10),
        CODFAMILIA VARCHAR(60),
        NOMBREFAMILIA VARCHAR(80)
    );

    CREATE NONCLUSTERED INDEX IDX_FAMILIA ON #TBM_FAMILIA(CODFAMILIA);

	  CREATE TABLE #TBM_MEDIDA (
        CODTABLA VARCHAR(10),
        CODMEDIDA VARCHAR(60),
        NOMBREMEDIDA VARCHAR(80)
    );

    CREATE NONCLUSTERED INDEX IDX_MEDIDA ON #TBM_MEDIDA(CODMEDIDA);

	  CREATE TABLE #TBM_ALMACEN (
        CODALMACEN VARCHAR(80),
        NOMBREALMACEN VARCHAR(80)
    );
	    CREATE NONCLUSTERED INDEX IDX_ALMACEN ON #TBM_ALMACEN(CODALMACEN);

    -- Usar un CTE para insertar en #TBM_MARCA con filtrado
     INSERT INTO #TBM_MARCA (CODTABLA, CODMARCA, NOMBREMARCA)
	 EXEC DBO.USP_SEL_MARCAS;

    -- Usar un CTE para insertar en #TBM_FAMILIA con filtrado
	 INSERT INTO #TBM_FAMILIA (CODTABLA, CODFAMILIA, NOMBREFAMILIA)
     EXEC DBO.USP_SEL_FAMILIAS;


	 INSERT INTO #TBM_MEDIDA (CODTABLA, CODMEDIDA, NOMBREMEDIDA)
     EXEC DBO.USP_SEL_UNIDADMEDIDAS;

	 INSERT INTO #TBM_ALMACEN (CODALMACEN, NOMBREALMACEN)
     EXEC DBO.USP_SEL_ALMACENES;


    -- Seleccionar los resultados
    SELECT * FROM #TBM_MARCA ORDER BY 2;
    SELECT * FROM #TBM_FAMILIA ORDER BY 2;
	SELECT * FROM #TBM_MEDIDA ORDER BY 2;
	SELECT * FROM #TBM_ALMACEN WHERE CODALMACEN IN ('0001','0015','0017') ORDER BY 2;


END;