USE [DB_AHSECO]
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_MANT_SERVICIOS] 
/*=======================================================================================================
	Nombre:				Fecha:			Descripcion:
	Diego Bazalar		17.10.24		Realiza el mantenimiento de la tabla TBM_SERVICIOS con parametros.
  =======================================================================================================*/
(
	@IsTipoProceso			CHAR(1)
	,@IsID_SERVICIO			INT
	,@IsTIPOSERVICIO		VARCHAR(6)
	,@IsDESCRIPCIONEQUIPO	VARCHAR(200)
	,@IsNOMBREMARCA			VARCHAR(75)
	,@IsNOMBREMODELO		VARCHAR(75)
	,@IsPRECIO	DECIMAL(18,2)
	,@IsINSTRUMENTOS		VARCHAR(2000)
	,@IsTOOLCOMUN			VARCHAR(2000)
	,@IsTOOLESPECIAL		VARCHAR(2000)
	,@IsESTADO				CHAR(1)
	,@IsUsrEjecuta			VARCHAR(50)
)
AS
BEGIN
	DECLARE @CODSERVICIO BIGINT, @MSG VARCHAR(100)
	SET NOCOUNT ON;

	IF (@IsTipoProceso = 'I')
		BEGIN
			INSERT INTO TBM_SERVICIOS(TIPO_SERVICIO,DESCRIPCIONEQUIPO,NOMBREMARCA,NOMBREMODELO,PRECIO,INSTRUMENTOS,TOOLCOMUN,TOOLESPECIAL,ESTADO,USR_REG,FEC_REG)
			VALUES (@IsTIPOSERVICIO,@IsDESCRIPCIONEQUIPO,@IsNOMBREMARCA,@IsNOMBREMODELO,@IsPRECIO,@IsINSTRUMENTOS,@IsTOOLCOMUN,@IsTOOLESPECIAL,@IsESTADO,@IsUsrEjecuta, GETDATE())

			IF @@ROWCOUNT = 0
			BEGIN
				SET @CODSERVICIO = 0;
				SET @MSG = 'ERROR EN EL REGISTRO DE LA TABLA TBM_SERVICIOS'
			END
			ELSE
			BEGIN
				SET @CODSERVICIO = @@IDENTITY;
				SET @MSG = 'REGISTRO REALIZADO CON EXITO'
			END
		END
	ELSE
	BEGIN
		IF(@IsTipoProceso = 'U')
			BEGIN
				UPDATE TBM_SERVICIOS
				SET	TIPO_SERVICIO		= @IsTIPOSERVICIO		
					,DESCRIPCIONEQUIPO	= @IsDESCRIPCIONEQUIPO
					,NOMBREMARCA		= @IsNOMBREMARCA			
					,NOMBREMODELO		= @IsNOMBREMODELO		
					,PRECIO	= @IsPRECIO
					,INSTRUMENTOS		= @IsINSTRUMENTOS		
					,TOOLCOMUN			= @IsTOOLCOMUN			
					,TOOLESPECIAL		= @IsTOOLESPECIAL		
					,ESTADO				= @IsESTADO
					,USR_MOD			= @IsUsrEjecuta
					,FEC_MOD			=GETDATE()
				WHERE ID_SERVICIO = @IsID_SERVICIO
			END

			IF @@ROWCOUNT = 0
			BEGIN
				SET @CODSERVICIO = 0;
				SET @MSG = 'ERROR EN LA ACTUALIZACIÓN DE LA TABLA TBM_SERVICIOS'
			END
			ELSE
			BEGIN
				SET @CODSERVICIO = @IsID_SERVICIO;
				SET @MSG = 'REGISTRO REALIZADO CON EXITO'
			END
	END
	SELECT @CODSERVICIO COD, @MSG MSG
	SET NOCOUNT OFF;
END