USE [DB_AHSECO]
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_FILTROS_INSTALACION]
/*=================================================================================================
	NOMBRE:					FECHA:		DESCRIPCIÓN:
	Diego A. Bazalar		21/10/2024	Extrae los filtros para la bandeja instalación técnica.
	EXEC [USP_FILTROS_INSTALACION]	
  =================================================================================================*/

AS
BEGIN
	--ComboBox Empresas
	SELECT D.PARAMETRO CODEMPRESA, D.VALOR1 RAZONSOCIAL FROM TBD_DATOS_GENERALES D WHERE DOMINIO='RAZSOCIAL' AND ESTADO=1
	--ComboBox Estado
	SELECT COD_ESTADO Codigo, NOM_ESTADO Abrev FROM TBM_PROCESOESTADOS WHERE ID_PROCESO = 3
	--ComboBox Clientes
	SELECT RUCEMPRESA ID, NOMEMPRESA FROM TBM_CLIENTES
	--ComboBox para Tip.Ventas
	SELECT COD_VALOR1 CODVENTA, VALOR1 DESCVENTA FROM TBD_DATOS_GENERALES WHERE DOMINIO = 'TIPOVENTA' AND ESTADO = 1
	--ComboBox Tipo de Empleado
	SELECT COD_VALOR1 CODTIPO, DESCRIPCION DESCTIPO FROM TBD_DATOS_GENERALES WHERE DOMINIO = 'TIPEMPL' AND ESTADO = 1
	--ComboBox Periodos
	SELECT PARAMETRO COD, DESCRIPCION FROM TBD_DATOS_GENERALES WHERE DOMINIO = 'CICLOPREV' AND ESTADO = 1
	--ComboBox Garantias
	SELECT PARAMETRO CODGARANTIA, VALOR1 DESCGARANTIA FROM TBD_DATOS_GENERALES WHERE DOMINIO = 'GARANTIAS' AND ESTADO = 1


END
