USE [DB_AHSECO]
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_MANT_TBD_TECNICOINSTALACION] 
/*=======================================================================================================
	Nombre:				Fecha:			Descripcion:
	Diego Bazalar		24.10.24		Realiza el mantenimiento de la tabla TBD_TECNICOINSTALACION con parametros.
  =======================================================================================================*/
(
	@IsTipoProceso		  CHAR(1)
	,@IsID				  BIGINT
	,@IsID_DETALLE		  BIGINT
	,@IsCOD_TECNICO		  INT
	,@IsNOMBRES			  VARCHAR(50)
	,@IsAPELLIDOPATERNO	  VARCHAR(50)
	,@IsAPELLIDOMATERNO	  VARCHAR(50)
	,@IsTIP_DOCUMENTO	  VARCHAR(9)
	,@IsDOCUMENTO		  VARCHAR(12)
	,@IsCORREO			  VARCHAR(100)
	,@IsTELEFONO		  VARCHAR(100)
	,@IsZONA			  VARCHAR(6)
	,@IsTIPOTECNICO		  CHAR(1)
	,@IsESTADO			  BIT
	,@IsUsrEjecuta		  VARCHAR(50)
)
AS
BEGIN
	DECLARE @CODASIG BIGINT, @MSG VARCHAR(20)
	SET NOCOUNT ON;

	IF (@IsTipoProceso = 'I')
		BEGIN
			INSERT INTO TBD_TECNICOINSTALACION(ID_DETALLE,COD_TECNICO,NOMBRES,APELLIDOPATERNO,APELLIDOMATERNO,DOCUMENTO,TIPO_DOCUMENTO,CORREO,TELEFONO,ZONA,TIPOTECNICO,ESTADO,USR_REG,FEC_REG)
			VALUES (@IsID_DETALLE,@IsCOD_TECNICO,@IsNOMBRES,@IsAPELLIDOPATERNO,@IsAPELLIDOMATERNO,@IsDOCUMENTO,@IsTIP_DOCUMENTO,@IsCORREO,@IsTELEFONO,@IsZONA,@IsTIPOTECNICO,@IsESTADO,@IsUsrEjecuta,GETDATE())

			IF @@ROWCOUNT = 0
			BEGIN
				SET @CODASIG = 0;
				SET @MSG = 'ERROR EN EL REGISTRO DE LA TABLA TBD_TECNICOINSTALACION'
			END
			ELSE
			BEGIN
				SET @CODASIG = @@IDENTITY;
				SET @MSG = 'REGISTRO REALIZADO CON EXITO'
			END
		END
	ELSE
		--IF(@IsTipoProceso = 'U')
		--	BEGIN
		--		UPDATE TBD_TECNICOINSTALACION
		--		SET 
		--			ORDENCOMPRA	= @ORDENCOMPRA
		--			,NUMPROCESO	= @NUMPROCESO
		--			,CONTRATO	= @CONTRATO
		--			,FIANZA		= @FIANZA
		--			,NUMFIANZA	= @NUMFIANZA
		--			,FECHAMAX	= @FECHAMAX
		--			,DESTINO	= @DESTINO
		--			,ESTADO		= @ESTADO
		--			,USR_MOD	= @IsUsrEjecuta
		--			,FEC_MOD	= GETDATE()
		--		WHERE ID = @IsID


		--		IF @@ROWCOUNT = 0
		--		BEGIN
		--			SET @CODASIG = 0;
		--			SET @MSG = 'ERROR EN LA ACTUALIZACIÓN DE LA TABLA TBD_TECNICOINSTALACION'
		--		END
		--		ELSE
		--		BEGIN
		--			SET @CODASIG = @IsID;
		--			SET @MSG = 'REGISTRO REALIZADO CON EXITO'
		--		END
		--	END
		IF(@IsTipoProceso = 'D')
		BEGIN
			UPDATE TBD_TECNICOINSTALACION
					SET
						ESTADO		= @IsESTADO
						,USR_MOD	= @IsUsrEjecuta
						,FEC_MOD	= GETDATE()
					WHERE ID = @IsID


					IF @@ROWCOUNT = 0
					BEGIN
						SET @CODASIG = 0;
						SET @MSG = 'ERROR EN LA ACTUALIZACIÓN DE LA TABLA TBD_TECNICOINSTALACION'
					END
					ELSE
					BEGIN
						SET @CODASIG = @IsID;
						SET @MSG = 'REGISTRO ELIMINADO CON EXITO'
					END
		END
	SELECT @CODASIG COD, @MSG MSG
	SET NOCOUNT ON;
END