USE [DB_AHSECO]
GO


CREATE OR ALTER PROCEDURE [dbo].[USP_SEL_ASIG_CLIE_MANUAL]
/*=================================================================================================
	NOMBRE:					FECHA:		DESCRIPCIÓN:
	Diego A. Bazalar		05.09.24	selecciona registros de la TBM_ASIG_CLIE_MANUAL
	EXEC [USP_SEL_ASIG_CLIE_MANUAL] @ID_EMPLEADO = 1
	exec USP_SEL_ASIG_CLIE_MANUAL @ID_CLIENTE=36,@ID_EMPLEADO=N'0'
	exec USP_SEL_ASIG_CLIE_MANUAL @ID_CLIENTE=0,@ID_EMPLEADO=N'1'
	exec USP_SEL_ASIG_CLIE_MANUAL @ID_CLIENTE=0,@ID_EMPLEADO=N'0'  --sin asignar
	exec USP_SEL_ASIG_CLIE_MANUAL @ID_CLIENTE=0,@ID_EMPLEADO=NULL
	exec USP_SEL_ASIG_CLIE_MANUAL @ID_CLIENTE=41,@ID_EMPLEADO=N'0'
	exec USP_SEL_ASIG_CLIE_MANUAL @ID_CLIENTE=0,@ID_EMPLEADO=N'0'
  =================================================================================================*/
	@ID_CLIENTE		INT = 0,
	@ID_EMPLEADO	INT = NULL,
	@NUMPAGINAS		INT,
	@PAGINA			INT
  AS
  BEGIN

  IF OBJECT_ID('tempdb..#TMP_ASIG_CLIENTES') IS NOT NULL DROP TABLE #TMP_ASIG_CLIENTES
  IF OBJECT_ID ('tempdb..#TMP_ASIG_FINAL') IS NOT NULL DROP TABLE #TMP_ASIG_FINAL


  DECLARE @Sql VARCHAR(MAX)
  DECLARE @INI INT,@FIN INT
  
  
  SELECT @INI = (@NUMPAGINAS*(@PAGINA-1)+1),@FIN=@NUMPAGINAS*@PAGINA



  CREATE TABLE #TMP_ASIG_CLIENTES
   (ID_ASIG INT, 
	ID_CLIENTE INT, 
	ID_SEDE INT,
	ELIMINADO BIT,
	ID_ASESOR INT)

	CREATE TABLE #TMP_ASIG_FINAL
	(
		ID					BIGINT
		,RUC				VARCHAR(12)
		,NOMEMPRESA			VARCHAR(200)
		,ASESOR				VARCHAR(400)
		,ESTADO				BIT
		,ID_ASESOR			INT
		,CATEGORIA			VARCHAR(10)
		,NOMDEPARTAMENTO	VARCHAR(50)
		,NOMPROVINCIA		VARCHAR(50)
		,NOMDISTRITO		VARCHAR(50)
		,SECTORCLIENTE		VARCHAR(10)
		,IDSEDE				INT
		,NOMSEDE			VARCHAR(150)
	)





	;WITH CTE_1 as ( SELECT 
					ID_ASIG,
					ID_CLIENTE,
					MAX(FEC_REG) FEC_REG,
					ID_ASESOR,
					ID_SEDE
					FROM [TBM_ASIG_CLIE_MANUAL]
					GROUP BY ID_CLIENTE,ID_SEDE,ID_ASESOR,ID_ASIG),
		CTE_2 AS(SELECT
					ID_ASIG
					,ID_CLIENTE
					,ID_SEDE
					,ID_ASESOR
					FROM CTE_1),
				CTE_3 AS (SELECT 
							MAX(ID_ASIG) ID_ASIG
							,ID_CLIENTE
							,ID_SEDE
							FROM CTE_2 
							GROUP BY ID_CLIENTE,ID_SEDE)
					INSERT INTO #TMP_ASIG_CLIENTES
					SELECT
						A.ID_ASIG
						,T.ID_CLIENTE
						,T.ID_SEDE
						,T.ELIMINADO
						,ID_ASESOR
					FROM CTE_3 A
					LEFT JOIN [TBM_ASIG_CLIE_MANUAL] T ON T.ID_ASIG = A.ID_ASIG


	SET @Sql = 	'SELECT
					ID																												AS ID
					,CLI.RUCEMPRESA																									AS RUC
					,CLI.NOMEMPRESA																									AS NOMEMPRESA
					,CASE WHEN temp.ELIMINADO != 1 
						THEN CONCAT(ISNULL(NOMBRES,''''),'' '',ISNULL(APELLIDOPATERNO,''''),'' '',ISNULL(APELLIDOMATERNO,''''))				
						ELSE '''' END																								AS ASESOR
					,CLI.ESTADO																										AS ESTADO
					,temp.ID_ASESOR																									AS ID_ASESOR
					,ISNULL(CLI.CATEGORIA,'''') CATEGORIA																			AS CATEGORIA
					,ISNULL(UBI.NOMDEPARTAMENTO,'''') NOMDEPARTAMENTO																AS NOMDEPARTAMENTO
					,ISNULL(UBI.NOMPROVINCIA,'''') NOMPROVINCIA																		AS NOMPROVINCIA
					,ISNULL(UBI.NOMDISTRITO,'''') NOMDISTRITO																		AS NOMDISTRITO
					,ISNULL(CLI.SECTORCLIENTE,'''') SECTORCLIENTE																	AS SECTORCLIENTE
					,ISNULL(sede.ID_SEDE,0) IDSEDE																					AS IDSEDE
					,ISNULL(sede.NOMSEDE,'''') NOMSEDE																				AS NOMSEDE
				--	,EMPLE.ID_EMPLEADO																								
				--	,temp.ELIMINADO 																								
				FROM [dbo].[TBM_CLIENTES] CLI WITH(NOLOCK)
				LEFT OUTER JOIN TBM_SEDES sede on CLI.ID=sede.ID_CLIENTE AND sede.ESTADO=''A'' AND sede.ELIMINADO=0 
				LEFT OUTER JOIN #TMP_ASIG_CLIENTES temp on CLI.ID=temp.ID_CLIENTE AND sede.ID_SEDE=temp.ID_SEDE				
				--LEFT JOIN [TBM_ASIG_CLIE_MANUAL] asig on temp.ID_ASIG = asig.ID_ASIG
				LEFT OUTER JOIN [dbo].[TBM_EMPLEADOS] EMPLE ON EMPLE.ID_EMPLEADO = temp.ID_ASESOR
				LEFT OUTER JOIN [dbo].[TBM_UBIGEO] UBI ON CLI.CODUBIGEO=UBI.CODUBIGEO
				WHERE  1= 1'
			IF @ID_CLIENTE > 0
				SET @Sql = @Sql + ' AND CLI.ID = '+CAST(@ID_CLIENTE AS VARCHAR(20))
			IF @ID_EMPLEADO > 0
				SET @Sql = @Sql + ' AND EMPLE.ID_EMPLEADO= '+CAST(@ID_EMPLEADO AS VARCHAR(20))+' AND temp.ELIMINADO != 1'
			IF @ID_EMPLEADO = 0 --sin asignar
			SET @Sql = @Sql + ' AND EMPLE.ID_EMPLEADO IS NULL '

	INSERT INTO #TMP_ASIG_FINAL 
	EXEC(@Sql)
	
	DECLARE @TOTAL INT

	SELECT @TOTAL=COUNT(1) FROM #TMP_ASIG_FINAL 

	IF(@TOTAL > 500)
	BEGIN
		IF(@NUMPAGINAS > 0)
		BEGIN
			SELECT 
				ID				
				,RUC			
				,NOMEMPRESA		
				,ASESOR			
				,ESTADO			
				,ID_ASESOR		
				,CATEGORIA		
				,NOMDEPARTAMENTO
				,NOMPROVINCIA	
				,NOMDISTRITO	
				,SECTORCLIENTE	
				,IDSEDE			
				,NOMSEDE
			FROM #TMP_ASIG_FINAL
			ORDER BY ID, NOMEMPRESA
			OFFSET @INI ROWS FETCH NEXT @NUMPAGINAS ROWS ONLY;
		END
		ELSE
		BEGIN
			SELECT 
				ID				
				,RUC			
				,NOMEMPRESA		
				,ASESOR			
				,ESTADO			
				,ID_ASESOR		
				,CATEGORIA		
				,NOMDEPARTAMENTO
				,NOMPROVINCIA	
				,NOMDISTRITO	
				,SECTORCLIENTE	
				,IDSEDE			
				,NOMSEDE
			FROM #TMP_ASIG_FINAL
			ORDER BY ID, NOMEMPRESA
		END
	END
	ELSE
	BEGIN
		SELECT 
				ID				
				,RUC			
				,NOMEMPRESA		
				,ASESOR			
				,ESTADO			
				,ID_ASESOR		
				,CATEGORIA		
				,NOMDEPARTAMENTO
				,NOMPROVINCIA	
				,NOMDISTRITO	
				,SECTORCLIENTE	
				,IDSEDE			
				,NOMSEDE
			FROM #TMP_ASIG_FINAL
			ORDER BY ID, NOMEMPRESA
	END
  END
