@{
    ViewBag.Title = "Index";
}

<!-- Main content -->
<section class="content container-fluid">
    <div class="jumbotron">
        <h1>Algo Sucedi&oacute;</h1>
        <p class="lead">A ocurrido un error al procesar su solicitud.</p>
        <a class="btn btn-danger" href="@Url.Action("Index","Home")">Ir al inicio</a>
    </div>
</section>