<div class="box-inner">
    <div class="box-header well">
        <h2 class="header_titulo"><i class="fa fa-code-fork" aria-hidden="true"></i> Seguimiento de flujo:</h2>
    </div>
    <div class="box-content">
        <div class="table-responsive">
            <table id="tblSeguimiento" class="table table-hover table-condensed table-striped table-bordered" style="width:100%;">
                <colgroup>
                    <col style="width: 15%;" />
                    <col style="width: 25%;" />
                    <col style="width: 30%;" />
                    <col style="width: 15%;" />
                    <col style="width: 15%;" />
                </colgroup>
                <thead style="background-color:#F2F2F2;">
                    <tr>
                        <th style="text-align: center; font-weight: bold;" rowspan="2">Estado</th>
                        <th style="text-align: center; font-weight: bold;" rowspan="2">Perfil</th>
                        <th style="text-align: center; font-weight: bold;" rowspan="2">Usuario</th>
                        <th style="text-align: center; font-weight: bold;" colspan="2">Fecha Acci&oacute;n</th>
                    </tr>
                    <tr>
                        <th style="text-align: center; font-weight: bold;">Fecha</th>
                        <th style="text-align: center; font-weight: bold;">Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="NoExisteRegSeg"><td colspan="6" style="text-align:center">No existen registro de seguimientos...</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>