@using AHSECO.CCL.FRONTEND.Core;

@{
    ViewBag.Title = "Registro de Mantenimientos Preventivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var numMant = VariableSesion.getCadena("NumMant");
    var tipoProceso = VariableSesion.getCadena("TipoTarea");

    var visualizar = false;

    if (tipoProceso != "")
    {
        visualizar = true;
    };

}
<input hidden id="numMant" value="@numMant" />
<input hidden id="tipoproceso" value="@tipoProceso" />

<div class="container-fluid">
    @if (numMant == "")
    {
        <h4><i class="fa fa-comment" aria-hidden="true"></i> @ViewBag.Title</h4>
    }
    else
    {
        <h4><i class="fa fa-wrench" aria-hidden="true"></i> Mantenimiento</h4>
    }

    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <div style="display: flex;justify-content: space-between;">
                @if (numMant != "")
                {
                    var numReqFormateado = ("000000" + numMant);

                    numReqFormateado = numReqFormateado.Substring((numReqFormateado.Length) - 6, numReqFormateado.Length - ((numReqFormateado.Length) - 6));

                    <h2>N&uacute;mero de Mantenimiento: @numReqFormateado</h2> <!--- Aquí tendremos que controlar-->
                }

            </div>
        </div>
        <div class="box-content">
            <div class="container-fluid" style="margin-right: 15px;">
                <div class="box-inner" id="">
                    <div class="box-header well" data-original-title="" style="background-color: #0080ff7a;">
                        <div>
                            <p id="titleCoti"><i class="fa fa-user" aria-hidden="true" style="color:yellow"></i> Cliente:</p>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row container-fluid">
                            <div class="col-md-4 col-sm-12">
                                <label for="txtNumProceso">N° Proceso:</label>
                                <div class="form-group">
                                    <input placeholder="--N° de Proceso--" disabled type="text" class="form-control input-sm" id="txtNumProceso" value="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label for="txtTipoProceso  ">Tipo de Proceso:</label>
                                <div class="form-group">
                                    <input placeholder="--Tipo de Proceso--" disabled type="text" class="form-control input-sm" id="txtTipoProceso" value="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label for="txtOrden">Orden de Compra:</label>
                                <div class="form-group">
                                    <input placeholder="--Orden de Compra--" disabled type="text" class="form-control input-sm" id="txtOrden" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="box-inner" id="boxReclamo">
                    <div class="box-header well" data-original-title="" style="background-color: beige;">
                        <div>
                            <p id="titleNomProducto"><i class="fa fa-cube" aria-hidden="true" style="color:brown"></i> Equipo</p>
                        </div>
                    </div>
                    <div class="box-content" style="background-color: #f5f5dc30;">
                        <div class="container-fluid">
                            <div class="row container-fluid">
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtCodEquipo">Código Equipo:</label>
                                    <div class="form-group">
                                        <input placeholder="--Código Equipo--" disabled type="text" class="form-control input-sm" id="txtCodEquipo" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtDescEquipo">Descripción Equipo:</label>
                                    <div class="form-group">
                                        <input placeholder="--Descripción Equipo--" disabled type="text" class="form-control input-sm" id="txtDescEquipo" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtMarcaEquipo">Marca:</label>
                                    <div class="form-group">
                                        <input placeholder="--Marca--" disabled type="text" class="form-control input-sm" id="txtMarcaEquipo" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtFechaInstall">Fecha Instalaci&oacute;n:</label>
                                    <div class="form-group">
                                        <input placeholder="--Fecha Instalación--" disabled type="text" class="form-control input-sm" id="txtFechaInstall" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtModeloEquipo">Modelo:</label>
                                    <div class="form-group">
                                        <input placeholder="--Modelo--" disabled type="text" class="form-control input-sm" id="txtModeloEquipo" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtNumSerie">Serie:</label>
                                    <div class="form-group">
                                        <input placeholder="--Serie--" disabled type="text" class="form-control input-sm" id="txtNumSerie" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtDirecInstall">Dirección de Instalación:</label>
                                    <div class="form-group">
                                        <input placeholder="--Dirección de Instalación--" disabled type="text" class="form-control input-sm" id="txtDirecInstall" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <input hidden id="hdnCodUbigeo" value="" />
                                    <label for="txtUbiDestino">Localidad de Instalación:</label>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input placeholder="--Ubicación de Instalación--" disabled type="text" class="form-control input-sm" id="txtUbiDestino" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtNumFianza">N° de Fianza:</label>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input placeholder="--N° de Fianza--" disabled type="text" class="form-control input-sm" id="txtNumFianza" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div style="display: flex;justify-content: space-between;">
                    <div class="panel panel-default" style="width: 49%">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-wrench" aria-hidden="true"></i>  Detalle de Mant. Preventivos</h3>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default" style="width: 50%">
                                <div class="panel-body" style="padding:5px">
                                    <label id="txtPeriodicidad">Periodicidad: </label>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <!--<button class="btn btn-default" type="button" style="width: 50%;pointer-events: none;">-->
                                Total de Mantenimientos:<span class="badge" style="background-color: blue; margin-left: 31px" id="MantTotales"></span>
                                <!--</button>-->
                            </div>
                                <br />
                                <div class="row container-fluid">
                                    <!--<button class="btn btn-default" type="button" style="width: 50%;pointer-events: none;background-color:#38b44a">-->
                                    Mantenimientos Completados:<span class="badge" style="background-color: #38b44a;" id="MantCompletados"></span>
                                    <!--</button>-->
                                </div>
                                <br />
                                <div class="row container-fluid">
                                    <!--<button class="btn btn-primary" type="button" style="width: 50%; pointer-events: none; background-color: #df382c">-->
                                    Mantenimientos Pendientes:<span class="badge" style="background-color: #df382c;margin-left:10px" id="MantPendientes"></span>
                                    <!--</button>-->
                                </div>
                                <br />
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" id="barraCompletado">
                                    </div>
                                    <div class="progress-bar progress-bar-danger" id="barraPendientes">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width: 2%"></div>
                        <div class="panel panel-default" style="width: 49%">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-wrench" aria-hidden="true"></i>  Detalle de Garantía</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row container-fluid">
                                    <label>Fecha de Vencimiento de Garantía</label>
                                    <p id="fechaVencGar"></p>
                                </div>
                                <div class="row container-fluid">
                                    <label>Días Transcurridos</label>
                                    <p id="diasTransc"></p>
                                </div>
                                <div class="row container-fluid">
                                    <label>Días Vigentes</label>
                                    <p id="diasVig"></p>
                                </div>
                                <div class="progress" style="margin-top: 8px;">
                                    <div class="progress-bar" id="barraGarantia" role="progressbar" style="width: 60%; background-color: blue;" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row container-fluid">
                        <div class="text-right">
                            <button class="btn btn-info btn-sm" type="button" data-dismiss="modal" id="btnRegresar" tabindex="14"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Regresar</button>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table id="tblMantenimientos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center; width: 5%">N° Preventivo</th>
                                    <th style="text-align:center; width: 10%">Fecha de Mantenimiento</th>
                                    <th style="text-align:center; width: 10%">Estado</th>
                                    <th style="text-align:center; width: 5%">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyMantenimientos">
                                <tr id="NoExisteMant">
                                    <td colspan="4"><center>No hay data que mostrar</center></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script type="text/javascript" src="~/resources/js/app/ServicioTecnico/BandejaPreventivo/registroPreventivo.js"></script>
    }
