@using AHSECO.CCL.FRONTEND.Core;
@{
    ViewBag.Title = "Detalle del Servicio";
}
<div style="display:none">
    <input type="hidden" id="DS_hdnOpcGrillaItems" value="" />
    <input type="hidden" id="DS_hdnIdCotDetServ" value="" />
</div>
<div style="width:40%" class="modal-dialog modal-lg container-fluid" role="document">
    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal content header -->
        <div class="modal-header box-header well well-sm" style="padding-bottom: 30px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="tituloModal"><i class="fa fa-user"></i>&nbsp;@ViewBag.Title</h4>
        </div>
        <!-- Modal content body -->
        <div class="modal-body d-flex justify-content-center" align-items-center>
            <form id="formItem" class="d-flex flex-row">
                <div class="row d-flex justify-content-center">
                    <div class="container-fluid">
                        <fieldset>
                            <legend><b>Informaci&oacute;n General</b></legend>
                            <div class="col-md-12">
                                <div class="row container-fluid">
                                    <div class="col-md-12">
                                        <label for="DS_txtCodigo">C&oacute;digo: </label>
                                        <div class="form-group">
                                            <input disabled placeholder="Ingresar código de producto" type="text" class="form-control input-sm" id="DS_txtCodigo" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row container-fluid">
                                    <div class="col-md-12">
                                        <label for="DS_txtDescripcion">Descripci&oacute;n: </label>
                                        <div class="form-group">
                                            <textarea disabled placeholder="Ingresar nombre de producto" type="text" rows="3" class="form-control input-sm" id="DS_txtDescripcion" value=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row container-fluid">
                                    <div class="col-md-4">
                                        <label for="DS_txtCantidad">Cantidad: </label>
                                        <div class="form-group">
                                            <input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Cantidad" type="number" min="0" maxlength="8" style="text-align:left" class="form-control input-sm" id="DS_txtCantidad" onkeyup="multiplicar();" value="" onkeypress="if (isNaN(String.fromCharCode(event.keyCode))) return false;">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="DS_txtPrecio">Precio: </label>
                                        <div class="form-group">
                                            <input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Precio" type="text" maxlength="10" style="text-align:left" class="form-control input-sm" id="DS_txtPrecio" onkeyup="multiplicar();" value="" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onfocus="this.value = app.formatearEnteroSinComa(this.value);" onblur="this.value = app.formatearEnteroComa(parseFloat(el.value).toFixed(2));">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="DS_txtTotalVenta">Venta Total: </label>
                                        <div class="form-group">
                                            <input disabled type="text" maxlength="15" style="text-align:left" class="form-control input-sm" id="DS_txtTotalVenta" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <fieldset>
                                <legend><b>Detalle del Servicio</b></legend>
                                <div class="text-right" style="padding-top: 2px; padding-bottom: 2px">
                                    <button style="@(ViewBag.PermitirEditarCotDetItem ? "" : "display:none")" class="btn btn-default btn-sm" type="button" data-toggle="modal"  tabindex="14" id="btnAgregarDetServ"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Agregar Detalle</button>
                                </div>
                                <div class="row container-fluid">
                                    <table id="DS_tblServiciosDetalle" class="table table-hover table-condensed table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center; width:10%">N°</th>
                                                <th style="text-align:center">Descripci&oacute;n</th>
                                                <th style="text-align: center; width:20%">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-default btn-sm" type="button" id="DS_btnGuardar"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
                        <button class="btn btn-danger btn-sm" type="button" id="DS_btnCerrar"><i class="fa fa-plus" aria-hidden="true"></i> Salir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function multiplicar() {
        var total = 0;
        var cantidad = $("#DS_txtCantidad").val();
        var precio = app.formatearEnteroSinComa($("#DS_txtPrecio").val());
        if (cantidad == "" || cantidad == 'NaN') {
            $("#DS_txtCantidad").val('0');
            cantidad = 0;
        }
        if (precio == "" || precio == 'NaN') {
            $("#DS_txtPrecio").val('0.00');
            precio = 0;
        }
        cantidad = parseInt($("#DS_txtCantidad").val())
        precio = parseFloat($("#DS_txtPrecio").val())
        total = cantidad * precio;
        $("#DS_txtTotalVenta").val(total.toFixed(2));
    }
</script>
