@using AHSECO.CCL.FRONTEND.Core;
@{
    ViewBag.Title = "Costo de Item";
}

<div style="width:50%" class="modal-dialog modal-lg container-fluid" role="document">
    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal content header -->
        <div class="modal-header box-header well well-sm" style="padding-bottom: 30px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="tituloModal"><i class="fa fa-cubes"></i>Costo de Despacho de Producto / Servicio</h4>
        </div>
        <!-- Modal content body -->
        <div class="modal-body d-flex justify-content-center" align-items-center>
            <form id="formItem" class="d-flex flex-row">
                <div class="row d-flex justify-content-center">
                    <div class="container-fluid">
                        <fieldset>
                            <legend><b>Informaci&oacute;n General</b></legend>
                            <div class="row container-fluid">
                                <div class="col-md-12">
                                    <div class="row container-fluid col-content-middleleft form-group">
                                        <div class="col-md-3">
                                            <label for="CI_cmbCDItem">Producto / Servicio: </label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control select2 input-sm" style="width:100%;" id="CI_cmbCDItem" data-selected="">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="container-fluid">
                        <fieldset class="form-group">
                            <legend><b>Información del Env&iacute;o</b></legend>
                            <div class="row container-fluid form-group col-content-middleleft">
                                <div class="col-md-12 col-content-middleleft">
                                    <div class="col-md-3">
                                        <label for="CI_txtUbicacion">Ubigeo Destino :</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="hidden" id="CI_hdnUbicacion" value="" />
                                            <input readonly placeholder="Seleccione Ubigeo Destino" maxlength="6" type="text" class="form-control input-sm" id="CI_txtUbicacion" value="" aria-describedby="sizing-addon3" style="cursor:pointer" data-toggle="modal" data-target="#modalUbigeo" />
                                            <span style="cursor:pointer" class="input-group-addon input-sm" id="searchUbigeo" data-toggle="modal" data-target="#modalUbigeo">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid form-group col-content-middleleft">
                                <div class="col-md-12 col-content-middleleft">
                                    <div class="col-md-3">
                                        <label for="CI_txtDireccion">Direcci&oacute;n :</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input placeholder="Ingresar Dirección" type="text" maxlength="150" class="form-control input-sm" id="CI_txtDireccion" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid form-group col-content-middleleft">
                                <div class="col-md-9 col-content-middleleft">
                                    <div class="col-md-4">
                                        <label for="CI_txtAmbDestino">Local a envíar: </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input placeholder="Ingresar Ambiente Destino" type="text" maxlength="200" class="form-control input-sm" id="CI_txtAmbDestino" value="">
                                    </div>
                                </div>
                                <div class="col-md-1 col-content-middleleft">&nbsp;</div>
                                <div class="col-md-2 col-content-middleleft">
                                    <div class="col-md-6">
                                        <label for="CI_txtNroPiso">Piso: </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input placeholder="Nro." type="text" maxlength="2" class="form-control input-sm" id="CI_txtNroPiso" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="container-fluid">
                        <fieldset class="form-group">
                            <legend><b>Informaci&oacute;n de Costos</b></legend>
                            <div class="row container-fluid col-content-bottomleft">
                                <div class="col-md-6 col-content-middleleft">
                                    <div class="col-md-7">
                                        <label for="CI_txtCantidad">Cantidad a Despachar: </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input placeholder="Cantidad" type="text" maxlength="3" class="form-control input-sm" id="CI_txtCantidad" value="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-content-middleleft">
                                    <div class="col-md-6">
                                        <label for="CI_txtCosto">Monto de Costo: </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input placeholder="Costo" type="text" maxlength="8" class="form-control input-sm" id="CI_txtCosto" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-default btn-sm" type="button" id="CI_btnGuardar"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
                        <button class="btn btn-danger btn-sm" type="button" id="CI_btnCerrar"><i class="fa fa-plus" aria-hidden="true"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
