@using AHSECO.CCL.FRONTEND.Core;
@using AHSECO.CCL.BE;

@{
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var NombreRol = VariableSesion.getCadena("VENTA_NOMBRE_ROL");
    var empleado = VariableSesion.getObject("VENTA_EMPLEADO") as EmpleadoDTO;
}

<input type="hidden" id="CodUsuario" value="@ViewBag.CodUsuario" />
<input type="hidden" id="CodEmpleado" value="@empleado.CodigoEmpleado" />
<input type="hidden" id="RolUsuario" value="@NombreRol" />

<div class="container-fluid" style="margin-right: 15px;">
    <h4><i class="glyphicon glyphicon-cog"></i> @ViewBag.Title</h4>
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-list"></i> Bandeja de Ventas</h2>
        </div>
        <div class="box-content">
            <form id="formMantCliente">
                <div class="row container-fluid">
                    <div class="col-md-4 col-sm-12">
                        <label for="txtRuc">R.U.C:</label>
                        <div class="form-group">
                            <input placeholder="Ingresar RUC" maxlength="11" type="text" class="form-control input-sm" id="txtRuc" value="">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <label for="txtNomEmpresa">Nombre Empresa:</label>
                        <div class="form-group">
                            <input placeholder="Nombre de Empresa" type="text" class="form-control input-sm" id="txtNomEmpresa" value="">
                        </div>
                    </div>
                    @if (NombreRol == "SGI_VENTA_JEFE" || NombreRol == "SGI_VENTA_COORDINAVENTA")
                    {
                        <div class="col-md-4 col-sm-7 col-xs-12">
                            <label for="cmbAsesor">Asesor:</label>
                            <div class="form-group">
                                <select class="form-control select2 input-sm" style="width: 100%;" id="cmbAsesor" data-selected="">
                                </select>
                            </div>
                        </div>
                    }
                </div>
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" type="button" id="btnBuscar"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </form>
            <br />
            <div class="table-responsive">
                <table id="tblClientes" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th style="text-align: center; width:20%;">RUC</th>
                            <th style="text-align: center; width:20%;">Nombre Empresa</th>
                            <th style="text-align: center; width:20%;">Sector Cliente</th>
                            <th style="text-align: center; width:50px;">Categor&iacute;a</th>
                            <th style="text-align: center; width: 20%;">Direcci&oacute;n F&iacute;scal</th>
                            <th style="text-align: center; width: 20%;">Departamento</th>
                            <th style="text-align: center; width: 20%;">Provincia</th>
                            <th style="text-align: center; width: 20%;">Distrito</th>
                            @if (NombreRol == "SGI_VENTA_JEFE" || NombreRol == "SGI_VENTA_COORDINAVENTA" || NombreRol == "SGI_VENTA_ASESOR")
                            {
                                <th style="text-align: center; width: 20%;">Asesor</th>
                            }
                            <th style="text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/resources/js/app/ventas/bandejaVentas.js"></script>
}
