AHSECO.CCL.BL/obj
AHSECO.CCL.BL/bin
AHSECO.CCL.BL/*.user
AHSECO.CCL.BL/.vs
AHSECO.CCL.BD/obj/
AHSECO.CCL.BD/bin/
AHSECO.CCL.BD/*.user
AHSECO.CCL.BD/.vs
AHSECO.CCL.BE/obj/
AHSECO.CCL.BE/bin/
AHSECO.CCL.BE/*.user
AHSECO.CCL.BE/.vs
AHSECO.CCL.COMUN/bin
AHSECO.CCL.COMUN/obj
AHSECO.CCL.COMUN/*.user
AHSECO.CCL.COMUN/.vs
AHSECO.CCL.FRONTEND/AHSECO.CCL.FRONTEND/obj
AHSECO.CCL.FRONTEND/AHSECO.CCL.FRONTEND/bin
AHSECO.CCL.FRONTEND/AHSECO.CCL.FRONTEND/Log
AHSECO.CCL.FRONTEND/AHSECO.CCL.FRONTEND/*.user
AHSECO.CCL.FRONTEND/AHSECO.CCL.FRONTEND/.vs
AHSECO.CCL.FRONTEND/.vs
/.vs
