
@{
    ViewBag.Title = "Organizaciones Ejecutoras - EPS";
}

<div class="container-fluid" style="margin-right: 15px;">
    <h4><i class="glyphicon glyphicon-cog"></i> @ViewBag.Title</h4>
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-list"></i> Mantenimiento de Jerarqu&iacute;as</h2>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalJerarquia" id="btnNuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nueva Jerarqu&iacute;a</button>
            </form>
            <br />
            <div class="table-responsive">
                <table id="tblJerarquia" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align: center;">IdJerarquia</th>
                            <th style="text-align: center;">&Oacute;rgano Ejecutor</th>
                            <th style="text-align: center;" width="40%">EPS</th>
                            <th style="text-align: center;" width="60px"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>

<!--Modal Jerarquia-->
<div class="modal fade" id="modalJerarquia" tabindex="-1" role="dialog" aria-labelledby="titleModalNodo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tituloModal">Editar Jerarqu&iacute;a</h4>
            </div>
            <div class="modal-body">
                <form id="frmJerarquia">
                    <div class="form-group">
                        <input type="hidden" id="hdnIdJerarquia"/>
                        <label for="cmbOrganoEjecutor">&Oacute;rgano Ejecutor</label>
                        <select class="form-control select2 input-sm" style="width:100%;" id="cmbOrganoEjecutor"></select>
                    </div>
                    <div class="form-group">
                        <label for="cmbEps">EPS</label>
                        <select class="form-control select2 input-sm" style="width:100%;" id="cmbEps"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                <button class="btn btn-default btn-sm" type="button" data-dismiss="modal" id="btnCerrar">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/resources/js/app/seguridad/jerarquia/jerarquia.js"></script>
}