
@{
    ViewBag.Title = "Mantenimiento Cargos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-right: 15px;">
    <h4><i class="glyphicon glyphicon-cog"></i> @ViewBag.Title</h4>
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-list"></i> Bandeja de Cargos</h2>
        </div>
        <div class="box-content">
            <form id="formCargo">
                <div class="row container-fluid">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="cmbAreas">&Aacute;reas:</label>
                            <div class="input-group input-sm col-md-10">
                                <select class="form-control select2 input-sm col-md-12" style="width:100%;" id="cmbAreas" tabindex="1"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="cmbEstado">Estado:</label>
                            <div class="input-group input-sm col-md-10">
                                <select class="form-control select2 input-sm" style="width:100%;"  id="cmbEstado" tabindex="2"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label for="txtNombres">Descripci&oacute;n Cargo:</label>
                        <div class="form-group">
                            <div class="input-group input-sm col-md-10">
                                <input placeholder="Ingresar Descripción del Cargo" name="descripción" maxlength="150" type="text" class="form-control input-sm" id="txtDescripcion" value="" tabindex="3">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-right">
                    <button class="btn btn-success  btn-sm" type="button" id="btnNuevo" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-plus"></i> Agregar Nuevo</button>
                    <button class="btn btn-primary btn-sm" type="button" id="btnBuscar" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-search"></i> Buscar</button>
                    <span id="hidden_fields"></span>
                    <a class="btn btn-info btn-sm " type="button" id="btnExportar" href="BandejaCargos/ExportarCargos" data-toggle="tooltip" data-placement="bottom" ><i class=" fa fa-table"></i> Exportar</a>

                </div>

            </form>

            <br />
            <div class="table-responsive">
                <table id="tblCargo" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align:center" width="20%">ID</th>
                            <th style="text-align: center; width:40%">Nombre Cargo</th>
                            <th style="text-align: center; width:30%">Estado</th>
                            <th style="text-align:center;width:10%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>


        </div>
    </div>
</div>


<!--Modal Nuevo-->
<div class="modal fade" id="modalCargo" tabindex="-1" role="dialog" aria-labelledby="titleModal"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <!-- Modal dialog -->
    <div class="modal-dialog" role="document">
        <!-- Modal content -->
        <div class="modal-content">
            <!-- Modal content header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="tituloModalCargo">Nuevo Cargo</h4>
            </div>
            <!-- Modal content body -->
            <div class="modal-body">
                <form id="formNuevoCargo">
                    <div class="form-group">
                        <label for="txtDescripcionModal">Descripci&oacute;n</label>
                        <input type="text" name="descripción" class="form-control" id="txtDescripcionModal" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="cmbAreasModal">&Aacute;rea:</label>
                            <select class="form-control select2 input-sm col-md-12" style="width:100%;" id="cmbAreasModal"></select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="cmbEstadoModal">Estado:</label>
                            <select class="form-control select2 input-sm" style="width:100%;"  id="cmbEstadoModal"></select>

                        </div>
                    </div>

                </form>
            </div>
            <!-- Modal content footer -->
            <div class="modal-footer">
                <button class="btn btn-default btn-sm pull-left" type="button" data-dismiss="modal" id="btnCerrarCargo" data-toggle="tooltip" data-placement="left" data-original-title="Cerrar Ventana"><i class="fa fa-times"></i> Cerrar</button>
                <button class="btn btn-primary btn-sm" type="button" id="btnRegistrarCargo" data-toggle="tooltip" data-placement="left"><i class="fa fa-plus"></i> Registrar Cargo</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Editar-->
<div class="modal fade" id="modalCargoEditar" tabindex="-1" role="dialog" aria-labelledby="titleModal"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <!-- Modal dialog -->
    <div class="modal-dialog" role="document">
        <!-- Modal content -->
        <div class="modal-content">
            <!-- Modal content header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="tituloModalCargoEditar">Editar Cargo</h4>
            </div>
            <!-- Modal content body -->
            <div class="modal-body">
                <form id="formEditarCargo">
                    <div class="form-group">
                        <label for="txtDescripcionModalEditar" >Descripci&oacute;n</label>
                        <input type="text" name="descripción" class="form-control" id="txtDescripcionModalEditar" maxlength="100" />
                         <input type="hidden" id="idCargoModalEditar"/>   
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="cmbAreasModalEditar">&Aacute;rea:</label>
                            <select name="areas" class="form-control select2 input-sm col-md-12" style="width:100%;" id="cmbAreasModalEditar"></select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="cmbEstadoModalEditar">Estado:</label>
                            <select class="form-control select2 input-sm" style="width:100%;" id="cmbEstadoModalEditar"></select>
                        </div>
                    </div>


                </form>
            </div>
            <!-- Modal content footer -->
            <div class="modal-footer">
                <button class="btn btn-default btn-sm pull-left" type="button" data-dismiss="modal" id="btnCerrarCargoModal" data-toggle="tooltip" data-placement="left"><i class="fa fa-times"></i> Cerrar</button>
                <button class="btn btn-primary btn-sm" type="button" id="btnEditarCargoModal" data-toggle="tooltip" data-placement="left"><i class="fa fa-square-o"></i> Editar</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/resources/js/app/mantenimientos/cargos/bandejaCargo.js"></script>
}