@{
    ViewBag.Title = "Creación de Técnicos de Externos";
}

<div class="modal-dialog modal-lg container-fluid" role="document">
    <!-- Modal content -->
    <div class="modal-content" id="modalContent">
        <!-- Modal content header -->
        <div class="modal-header box-header well well-sm" style="padding-bottom: 30px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="tituloModal"><i class="fa fa-handshake-o" aria-hidden="true"></i> @ViewBag.Title</h4>
        </div>
        <!-- Modal content body -->
        <div class="modal-body d-flex justify-content-center" align-items-center>
            <form id="formRegistro" class="d-flex flex-row">
                <div class="row container-fluid d-flex justify-content-center">
                    <div class="text-right">
                        <button class="btn btn-primary btn-sm" type="button" id="btnRegistrarTecnicoExterno"><i class="fa fa-handshake-o"></i> Agregar</button>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtNombreTecnico">Nombre: </label>
                            <div class="form-group">
                                <input placeholder="--Ingresar Apellido Paterno---" type="text" class="form-control input-sm" id="txtNombreTecnico" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtApellidoPaternoTec">Apellido Paterno: </label>
                            <div class="form-group">
                                <input placeholder="--Ingresar Apellido Paterno---"  type="text" class="form-control input-sm" id="txtApellidoPaternoTec" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtApellidoMaternoTec">Apellido Materno: </label>
                            <div class="form-group">
                                 <input placeholder="--Ingresar Apellido Materno---"  type="text" class="form-control input-sm" id="txtApellidoMaternoTec" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtTipoTecnico">Tipo de T&eacute;cnico: </label>
                            <div class="form-group">
                                <input hidden id="hdnTipoEmpleado"/>
                                <input  type="text" class="form-control input-sm" id="txtTipoTecnico" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="cmbTipoCredencial">Tipo de Documento: </label>
                            <div class="form-group">
                                <select  class="form-control select2 input-sm" style="width:100%;" id="cmbTipoCredencial"></select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtNumDocumento">N° Documento: </label>
                            <input hidden id="hdnTipoDoc" />
                            <div class="form-group">
                                <input placeholder="--Ingresar número de Documento---"  type="text" class="form-control input-sm" id="txtNumDocumento" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtTelefono">Tel&eacute;fono:</label>
                            <div class="form-group">
                                <input placeholder="--Ingresar Teléfono---" type="text" class="form-control input-sm" id="txtTelefono" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtCorreo">Correo: </label>
                            <div class="form-group">
                                <input placeholder="--Ingresar Correo---" type="text" class="form-control input-sm" id="txtCorreo" value="">
                            </div>
                        </div>
                        <input type="hidden" id="txtCodUbicacion" value="" />
                        <div class="col-md-4 col-sm-12">
                            <label for="txtZona">Zona:</label>
                            <div class="form-group">
                                <div class="input-group input-group-sm date">
                                    <input disabled maxlength="6" type="text" class="form-control input-sm" id="txtZona" placeholder="--Seleccionar Zona--" aria-describedby="sizing-addon3" />
                                    <span style="cursor: pointer" class="input-group-addon input-sm" id="searchZona" data-toggle="modal" data-target="#modalZona">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>


