
@{
    ViewBag.Title = "Detalle Adicional de la Instalación del Equipo";
}

<div class="modal-dialog modal-lg container-fluid" role="document">
    <!-- Modal content -->
    <div class="modal-content" id="modalContent">
        <!-- Modal content header -->   
        <div class="modal-header box-header well well-sm" style="padding-bottom: 30px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="tituloModal"><i class="fa fa-file-text" aria-hidden="true"></i> @ViewBag.Title</h4>
        </div>
        <!-- Modal content body -->
        <div class="modal-body d-flex justify-content-center" align-items-center>
            <form id="formDetalleInstall" class="d-flex flex-row">
                <div class="row container-fluid d-flex justify-content-center">
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtCantPrev">Cantidad de Preventivos: </label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtCantPrev" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="cmbPeriodos">Periodicidad: </label>
                            <div class="input-group col-sm-12 col-md-12 col-lg-12">
                                <select disabled aria-hide="false"  style="width:100%" id="cmbPeriodos" type="text" class="input form-control input-sm">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtGarantiaAdicional">Garantía Adicional: </label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtGarantiaAdicional">
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtUbigeDestino">Ubigeo Destino: </label>
                            <input hidden id="hdnCodUbigeoDestino" />
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtUbigeDestino" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtDireccionInstall">Direcci&oacute;n:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtDireccionInstall" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtNroPiso">N&uacute;mero de piso:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtNroPiso" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtDimensiones">Dimensiones:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtDimensiones" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtMontoPrestAcc">Monto Prestación Acc.:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtMontoPrestAcc" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtMontoPrestPrin">Monto Prestación Prin.:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtMontoPrestPrin" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>


